[submodule "themes/texify"]
	path = themes/texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
